<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find sw_v3_control)/config/sw_v3_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/sw_v3" args="joint_state_controller
					  joint1_position_controller
					  joint2_position_controller
            joint3_position_controller
					  joint4_position_controller
            joint5_position_controller">
  <param name="publish_frequency" value="60" />
  </node>
  
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/sw_v3/joint_states" />
    <param name="publish_frequency" value="1000" />
  </node>
  
</launch>
